body {
  font-family: "Roboto Mono Normal", "Roboto Mono Medium", "Roboto";
}

.sdb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 75vh;
  background: #434343;
}

.sdb-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 70%;
  align-items: center;
  background: #7d7d7f;
  border: 1px solid black;
  border-radius: 1.5%;
  box-shadow: 0px 1px 2px 1px black;
}

/* .sdb-body > div {
  flex-wrap: wrap;
} */

.sdb-body .btn {
  width: 30%;
  height: 20%;
  background-color: #63636e;
  color: #f3f3f3;
  font-size: 6vh;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 1px #444444;
}

.sdb-body .btn:hover {
  cursor: pointer;
}

.sdb-screen {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 25%;
  border: 1px solid dimgrey;
  border-radius: 7px;
  color: #434343;
  position: relative;
}

.sdb-status {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  font-size: 2.5vh;
  padding: 2%;
}

.sdb-status-messages {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  height: auto;
  font-size: 4.5vh;
  padding: 3%;
}

.sdb-status-messages p {
  margin-bottom: 20%;
}

.sdb-numpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  width: 75%;
  height: 70%;
}

.sdb-screen.backlight-off {
  background: #47b2b2;
}

.sdb-screen.backlight-on {
  background: #7fffff;
}
